# .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.csproj.user
*.DotSettings.user

# NuGet
packages/
*.nupkg

# IDE
.idea/
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build
[Bb]uild/
[Dd]eploy/

# Secrets / infra manifests
*-secret.yaml
*-credentials*.yaml
kafka-tls*.yaml

# Coverage
coverage/
*.opencover.xml
coverage.json
report-kafka-infra*
*gateway*.yaml
